html, body{
    height: 100%;
    width: 100%;
    background-color: #6F3A1B;
    color: white;
    display: flex;
    flex-direction: column;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Vina Sans;
}
main{
    display: flex;
    justify-content: space-around;
    font-family: Vina Sans;
    background-color: white;
    padding: 50px;
}
img{
    height: 80px;
    border-radius: 100%100%;
}
article{
    background-color:  #1B506F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}